/*@import "compass/css3"; */

.mainButton-flexcontainers {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.button-flex {
  background: lightblue;
  padding: 5px;
  width: 20%;
  height: 100%;
  margin-top: 2%;
  line-height: 25%;
  color: black;
  font-weight: bold;
  font-size: auto;
  text-align: auto;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}
/*
.header {
  background: tomato;
*/

body {background-color: #c8e6e3
}
button {
    background-color: #082caf;
    border: none;
    border-radius: 50%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
table, th, td {
    border: 1px solid black;
}
tr:hover{
    background-color: white;
    font-weight: bold;
}
button:hover {
    box-shadow: 0 8px 10px 0 black;
}

#head {
    float: top;
}

footer {
    background-color: aliceblue;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    float: bottom;
    text-align: center;
}
#oversiktData{

    width: 500px;
    height: 500px;
    border: 5px solid black;
    overflow: hidden;
    overflow: auto;
    margin: auto;
}

.tab{
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tabcontent{
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
