/*@import "compass/css3"; */

.mainButton-flexcontainers {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.button-flex {
  background: lightblue;
  padding: 5px;
  width: 20%;
  height: 100%;
  margin-top: 2%;
  line-height: 25%;
  color: black;
  font-weight: bold;
  font-size: auto;
  text-align: auto;
}
button:hover {
    box-shadow: 0 8px 10px 0 black;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}


body {
    background-color: #c8e6e3;
    font-family: 'IBM Plex Sans', "Courier New", sans-serif;
    font-weight: lighter;
}
button {
    background-color: #c8e6e3;
    border: none;
    border-radius: 25px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


th{
 background-color: #c8e6e3;
}
table{
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}
tr:nth-child(odd) {background-color: #c8e6e3;}
tr:hover{
    background-color: white;
    font-weight: bold;
}


#header {
    float: top;
    background-color:	#008B8B;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #00CED1;
    color: black;
    text-align: center;
}
#oversiktData{

    width: 40%;
    height: 500px;
    border: 5px solid black;
    overflow: hidden;
    overflow: auto;
    margin: auto;
}

.tab{
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tabcontent{
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
    background-color: #f9f2ec;
}

