body{background-color: #c8e6e3
}
button{
    background-color: #082caf;
    border: none;
    border-radius: 50%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
button:hover{
    box-shadow: 0 12px 16px 0 black;
}
#head{

    float: top;
}
footer{
    background-color: aliceblue;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    float: bottom;
}
.blokk{
    border: 5px solid;
}
#oversiktData{
    border: 5px dotted #dc272a;
    width: 500px;
    height: 500px;
    overflow: hidden;
    overflow: auto;
}


